---
import Image from '@components/Image.astro';
import TagLocation from '@components/TagLocation.astro';
import TagPrice from '@components/TagPrice.astro';
import Layout from '@layouts/Layout.astro';
import {getAirbnb} from '@services/leaderboard';

const data = await getAirbnb();
const places = data;
---

<Layout title='Airbnb'>
  <section
    class='grid place-items-center grow grid-cols-1 md:grid-cols-4 gap-2 my-8 divide-y lg:divide-y-0 divide-white divide-opacity-30'
  >
    {
      places.map(place => (
        <a class='w-full h-full pt-2 ' href={`${place?.link}`} target='_blank' rel='noopener noreferrer'>
          <article class='relative w-full h-full rounded-lg overflow-hidden'>
            <div class=' absolute top-0 -z-10'>
              <Image src={place?.image} alt={place?.title} class='w-full aspect-video ' />
            </div>
            <div class='pt-32 h-full flex flex-col bg-gradient-to-b from-transparent via-black/30 to-transparent'>
              <h2 class='text-xl font-semibold truncate px-2 lg:bg-black/30'>{place?.title}</h2>
              <p class='line-clamp-3 px-2 flex-1'>{place?.description}</p>
              <span class='font-light text-base px-2'>{place?.configuration}</span>
            </div>
            <TagLocation location={place?.city} />
            <TagPrice price={place.rentValue} priceCurrency={place.rentDesc} class='top-0 left-0' />
          </article>
        </a>
      ))
    }
  </section>
</Layout>
