---
import CheckIcon from '@components/icons/CheckIcon.astro';
import TableCell from '@components/TableCell.astro';
import TableHeaderCell from '@components/TableHeaderCell.astro';
import Image from './Image.astro';

const {data = []} = Astro.props;
const places = data.sort((a, b) => Number(a.rentValue) - Number(b.rentValue));

const replaceToIcon = value => {
  return value
    .replace('people', 'people 🕴 ')
    .replace(/bathrooms?/, 'bathroom 🛀 ')
    .replace(/bedrooms?/, 'bedroom 🛌 ');
};
---

<table class='min-w-full text-sm text-left text-gray-500 dark:text-gray-400'>
  <thead
    class='hidden sm:table-header-group text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400'
  >
    <tr>
      <TableHeaderCell>
        <span class='sr-only'>Image</span>
      </TableHeaderCell>
      <TableHeaderCell>Title</TableHeaderCell>
      <TableHeaderCell>Configuration</TableHeaderCell>
      <TableHeaderCell>Location</TableHeaderCell>
      <TableHeaderCell>Price €</TableHeaderCell>
      <TableHeaderCell>Bills</TableHeaderCell>
      <TableHeaderCell>Availabre from</TableHeaderCell>
    </tr>
  </thead>
  <tbody>
    {
      places.map((d, i) => (
        <tr class='mb-0.5 sm:mb-0 bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 flex justify-start flex-wrap items-center sm:table-row sm:text-sm lg:text-base'>
          <TableCell class='p-0 self-center flex-grow px-0 lg:p-0'>
            <a href={d.link} target='_blank' rel='noopener noreferrer'>
              <div class=' overflow-hidden w-full  sm:w-20 lg:w-32'>
                <Image
                  lazy={i === 0 ? false : true}
                  src={d.image}
                  alt={`Image from ${d.title}`}
                  class='sm:aspect-square aspect-video sm:rounded-full'
                />
              </div>
            </a>
          </TableCell>
          <TableCell class='font-semibold md:text-base text-gray-900 dark:text-white basis-full'>
            <a
              href={d.link}
              target='_blank'
              rel='noopener noreferrer'
              class='hover:underline hover:text-blue-600 transition-all'>
              {d.title}
            </a>
          </TableCell>
          <TableCell class='basis-full'>
            <div class='font-medium '>
              <span set:html={replaceToIcon(d.configuration)} />
            </div>
            <div class='font-normal text-gray-500'>{d.rentBy}</div>
          </TableCell>
          <TableCell class='whitespace-nowrap basis-full flex flex-row justify-between'>
            <div class='font-medium'>{d.neighbourHood}</div>
            <div class='font-normal text-gray-500 capitalize'>{d.city}</div>
          </TableCell>
          <TableCell class='font-semibold text-gray-900 dark:text-white whitespace-nowrap flex-auto'>
            {d.rentValue}
            {d.rentFrequency}
          </TableCell>
          <TableCell class=''>
            {d.billsIncluded && (
              <span title={d.billsIncluded} class='w-5 h-5'>
                <CheckIcon />
              </span>
            )}
          </TableCell>
          <TableCell class='whitespace-nowrap'>
            <span>{d.offerAvailability}</span>
          </TableCell>
        </tr>
      ))
    }
  </tbody>
</table>
