---
import Image from '@components/Image.astro';
import Layout from '@layouts/Layout.astro';
import {getSupercasa} from '@services/leaderboard';

const data = await getSupercasa();
const places = data.map(d => {
  let place;
  try {
    place = JSON.parse(d.json);
  } catch (error) {
    place = {};
  }
  return {
    ...place,
    description: d.description,
    link: d.link,
    configuration: d.configuration,
  };
});
---

<Layout title='SuperCasa'>
  <section class='grid place-items-center grow grid-cols-1 md:grid-cols-2 gap-2 my-8'>
    {
      places.map(place => (
        <a class='w-full h-full' href={`https://supercasa.pt${place?.link}`} target='_blank' rel='noopener noreferrer'>
          <article class='relative p-2.5 sm:p-4 rounded shadow bg-slate-200 w-full h-full text-neutral-900 flex gap-4 flex-col sm:flex-row'>
            <Image src={place?.image} alt={place?.name} class='w-full sm:w-52 md:w-32 aspect-video sm:aspect-[4/3]' />
            <div class='flex flex-col overflow-hidden relative'>
              <h2 class='text-xl font-semibold truncate'>{place?.name}</h2>
              <p class='line-clamp-3'>{place?.description}</p>
              <span class='font-light text-base'>{place?.configuration}</span>
              {place?.availableAtOrFrom?.address?.addressRegion}
              <div class='absolute bg-amber-600 py-1 px-2 text-white bottom-0 right-0 text-base whitespace-normal font-semibold mt-auto'>
                {place?.availableAtOrFrom?.address?.addressLocality}
              </div>
            </div>

            <div class='text-white absolute text-lg font-semibold bg-indigo-700 py-1 px-2'>
              {place.price} {place.priceCurrency}
            </div>
          </article>
        </a>
      ))
    }
  </section>
</Layout>
