---
import {getLeaderboard} from '@services/leaderboard';
const data = await getLeaderboard();
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link href={Astro.url.href} rel='canonical' />

    <meta name='generator' content={Astro.generator} />
    <!-- https://cdn-static-new.uniplaces.com -->
    {data.map(({image}) => <link href={image} rel='preload' type='image/jpg' as='image' fetchpriority='high' />)}
    <!-- Primary Meta Tags -->
    <title>Uniplaces Project</title>
    <meta name='description' content='Scrape uniplace to search lucky places' />
  </head>
  <body class='container grid place-items-center min-h-screen max-w-6xl mx-auto bg-neutral-900 text-neutral-100'>
    <slot />
  </body>
</html>
