---
import '@fontsource-variable/material-symbols-outlined';
import {getLeaderboard} from '@services/leaderboard';
import Navbar from '@components/Navbar.astro';
const data = await getLeaderboard();

const {title = ''} = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link href={Astro.url.href} rel='canonical' />

    <meta name='generator' content={Astro.generator} />
    <!-- https://cdn-static-new.uniplaces.com -->
    {data.map(({image}) => <link href={image} rel='preload' type='image/jpg' as='image' fetchpriority='high' />)}
    <!-- Primary Meta Tags -->
    <title>Home Project | {title}</title>
    <meta name='description' content='Scrape uniplace to search lucky places' />
  </head>
  <body class='container min-h-screen max-w-6xl mx-auto bg-neutral-900 text-neutral-100 flex flex-col relative'>
    <header class='w-full'>
      <Navbar />
    </header>
    <main class='px-4 py-8 h-full flex flex-col grow'>
      <h1 class='text-3xl text-center'>{title}</h1>
      <slot />
    </main>
    <button class='scrollToTopBtn bg-indigo-700 rounded-full text-lg leading-none h-6 w-6'>
      <span class='material-symbols-outlined'> arrow_upward</span>
    </button>
  </body>
</html>
<style>
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
      Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji',
      'Material Symbols Outlined Variable';
  }
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined Variable';
    font-weight: normal;
    font-style: normal;
    font-size: 20px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
  .scrollToTopBtn {
    --offset: 30px;
    position: sticky;
    bottom: 20px;
    left: 100%;
    z-index: 1000;
    margin-top: calc(100vh + var(--offset));
  }
</style>

<script>
  const scrollToTopBtn = document.querySelector('.scrollToTopBtn');
  scrollToTopBtn.addEventListener('click', scrollToTop);

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth',
    });
  }
</script>
